.secondLink {
    width: 100px;
    height: 80px;
    background-color: #9fcdff;
    text-align: center;
    padding-top: 45px;
}

.secondBox{
    background-image: url("../images/mobility.png");
    width: 120px;
    height: 130px;
    background-repeat: no-repeat;

}

.middlebox{
    background-color: #b3d7ff;
}

.lastbox{
    background-color: #e4606d;
}

.displaybox{
    width: 200px;
    height: 200px;
    background-color: darkcyan;
    position: absolute;
    top: 50px;
    left: 100px;
}